@use "../global/colors";

.button {
  display: block;
  padding: 8px 20px;
  font-size: 16px;
  font-family: "Montserrat","Arial",sans-serif;
  line-height: 24px;
  border: 0;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &--primary {
    color: colors.$base-white;
    background-color: colors.$base-primary;

    &:hover, &:focus {
      background-color: colors.$primary-lighter;
    }

    &:active {
      background-color: colors.$primary-darker;
    }

    &:disabled {
      background-color: colors.$base-grey;
    }
  }

  &--secondary {
    color: colors.$base-primary;
    background-color: colors.$base-white;

    &:hover, &:focus {
      color: colors.$base-white;
      background-color: colors.$primary-lighter;
    }

    &:active {
      color: colors.$base-white;
      background-color: colors.$primary-darker;
    }

    &:disabled {
      color: colors.$base-white;
      background-color: colors.$light-grey;
    }
  }
}
