@use "../global/colors";
@use "../global/variables";
.header {
  display: flex;
  min-height: 60px;
  padding: 0 variables.$wrapper;
  background-color: colors.$base-white;
  color: colors.$base-black;

  @media (max-width: variables.$mobile-only) {
    margin-top: 250px;
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 80px;
    padding: 0 variables.$wrapper;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 80px;
    padding: 0 variables.$wrapper-desktop;
  }
}

.header--js-enable {
  position: relative;
  margin-top: 0;
}

.header__logo-link {
  margin-right: 80px;
  text-decoration: none;

  @media (max-width: variables.$mobile-only) {
    margin-top: 12px;
  }

  @media (min-width: variables.$tablet-width) {
    display: flex;
    align-items: center;
    margin-right: 67px;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 316px;
    margin-right: 162px;
  }
}

.header__logo {
  display: block;

  @media (min-width: variables.$tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.header__logo-caption {
  display: none;
  margin-left: 20px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: variables.$desktop-width) {
    display: block;
  }
}
