@use "../global/variables";

.map__wrapper {
  position: relative;
  height: 420px;
  overflow: hidden;
  background-image: url("../img/map/map-devices.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: variables.$tablet-width) {
    height: 480px;
  }
}
