@use "../global/colors";
@use "../global/variables";

.navigation__toggle {
  display: none;
}

.header--js-enable .navigation__toggle {
  @media (max-width: variables.$mobile-only) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 60px;
    padding: 22px;
    background-color: transparent;
    border: 0;
    z-index: 9;

    &:active {
      background-color: colors.$base-secondary;
    }
  }
}

.header--js-enable .navigation__list--menu {
  @media (max-width: variables.$mobile-only) {
    display: none;
  }
}

.header--menu-open .navigation__list--menu {
  display: flex;
  flex-direction: column;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
  }
}

.header--menu-open .navigation__border {
  background-color: transparent;
}

.header--menu-open .navigation__border::before {
  top: 0;
  transform: rotate(45deg);
}

.header--menu-open .navigation__border::after {
  top: 0;
  transform: rotate(-45deg);
}

.navigation__border {
  position: relative;
  display: block;
  height: 2px;
  background-color: colors.$base-black;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: colors.$base-black;
  }

  &::before {
    top: -7px;
  }

  &::after {
    top: 7px;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: variables.$desktop-width) {
    gap: 20px;
  }

  &--menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    @media (min-width: variables.$tablet-width) {
      position: static;
      display: flex;
    }
  }

  &--account {
    display: flex;
  }
}

.navigation__label {
  display: none;

  @media (min-width: variables.$desktop-width) {
    display: block;
    margin-left: 6px;
  }
 }

.navigation__list--menu .navigation__link {
  @media (max-width: variables.$mobile-only) {
    background-color: colors.$base-white;
    border-bottom: 1px solid colors.$base-grey;
  }
}

.navigation__link {
  min-height: 36px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  color: colors.$base-black;
  text-decoration: none;
  background-color: colors.$base-white;
  outline: 0;
  transition: all .2s ease-in-out;

  &:active {
    background-color: colors.$base-secondary;
  }

  @media (max-width: variables.$mobile-only) {
    height: 60px;
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 80px;
    padding: 12px 20px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: 500;

    &:hover, &:focus {
      color: colors.$base-primary;
    }

    &:active {
      color: colors.$base-primary;
      background-color: colors.$base-secondary;
    }
  }
}

.navigation__list--account .navigation__link {
  min-width: 60px;
}

.navigation__link--current {
  color: colors.$base-primary;

  &:hover, &:focus, &:active {
    color: colors.$base-primary;
    background-color: transparent;
  }

  @media (min-width: variables.$tablet-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 2px;
      background-color: colors.$base-primary;
    }
  }
}

.navigation {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
