@use "../global/colors";
@use "../global/variables";

.social {
  display: flex;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    display: block;
    width: calc(100% / 4);
  }
}

.social__description {
  display: none;

  @media (min-width: variables.$desktop-width) {
    display: block;
    margin-bottom: 50px;
  }
}

.social__list {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: colors.$base-grey;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  outline: 0;

  &:hover, &:focus {
    color: colors.$base-primary;
    background-color: colors.$base-secondary;
  }
}

.social__logo {
  margin-right: 30px;

  @media (min-width: variables.$desktop-width) {
    margin-right: 0;
  }
}

.social__img {
  display: block;

  @media (min-width: variables.$tablet-width) {
    margin-top: 2px;
    width: 170px;
    height: 36px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

