@use "../global/colors";
@use "../global/variables";

.swiper-button-prev, .swiper-button-next {
  min-width: 20px;
  height: 100%;
  top: 0;
  margin-top: 0;
  outline: 0;
  background-color: transparent;
  border: none;
  transition: all .2s ease-in-out;

  @media (min-width: variables.$tablet-width) {
    min-width: 80px;
  }
}

.swiper-button-prev {
  left: 0;

  &:hover, &:focus {
    background-image: linear-gradient(90deg,colors.$base-white 0,transparent 100%);
  }

  &:active {
    background-image: linear-gradient(90deg,colors.$primary-opacity 0,transparent 100%);
  }
}

.swiper-button-next {
  right: 0;

  &:hover, &:focus {
    background-image: linear-gradient(-90deg,colors.$base-white 0,transparent 100%);
  }

  &:active {
    background-image: linear-gradient(-90deg,colors.$primary-opacity 0,transparent 100%);
  }
}

.swiper-button-next::after, .swiper-button-prev::after {
  color: colors.$base-primary;
  font-size: 20px;
  font-weight: 700;
}

.swiper-pagination {
  display: none;

  @media (min-width: variables.$desktop-width) {
    display: block;
  }
}

.swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  border-radius: 0;
  background-color: colors.$base-white;
  opacity: 1;
  outline: 0;

  &:hover {
    background-color: colors.$primary-opacity;
  }
}

.swiper-pagination-bullet-active {
  background-color: colors.$base-primary;
}
.swiper-slide {
  &--first {
    background-image: linear-gradient(180deg, colors.$flat-white 100%, colors.$flat-white 100%);

    @media (min-width: variables.$tablet-width) {
      background-image: linear-gradient(180deg, colors.$flat-white 76%, colors.$base-white 76%);
    }

    @media (min-width: variables.$desktop-width) {
      background-image: linear-gradient(180deg, colors.$flat-white 100%, colors.$flat-white 100%);
    }
  }

  &--second {
    background-image: linear-gradient(180deg, colors.$lavender-latte 100%, colors.$lavender-latte 100%);

    @media (min-width: variables.$tablet-width) {
      background-image: linear-gradient(180deg, colors.$lavender-latte 76%, colors.$base-white 76%);
    }

    @media (min-width: variables.$desktop-width) {
      background-image: linear-gradient(180deg, colors.$lavender-latte 100%, colors.$lavender-latte 100%);
    }
  }

  &--third {
    background-image: linear-gradient(180deg, colors.$espresso 100%, colors.$espresso 100%);

    @media (min-width: variables.$tablet-width) {
      background-image: linear-gradient(180deg, colors.$espresso 76%, colors.$base-white 76%);
    }

    @media (min-width: variables.$desktop-width) {
      background-image: linear-gradient(180deg, colors.$espresso 100%, colors.$espresso 100%);
    }
  }
}

.swiper {
  overflow: visible;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom,80px);
}
